:root {
  font-family: osrs;
  font-weight: normal;
  line-height: 1.25;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  --semi-transparent-black: rgba(30, 30, 30, 0.85);
  --darker-semi-transparent-black: rgba(15, 15, 15, 0.85);
  --lighter-semi-transparent-black: rgba(50, 50, 50, 0.85);
  --semi-transparent-white: rgba(255, 255, 255, 0.1);
  user-select: none;
}

html {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

* {
  color: yellow;
  text-shadow: 0.05em 0.05em black;
  box-sizing: border-box;
}

input {
  color: black;
  text-shadow: none;
}

audio {
  background-color: var(--semi-transparent-black);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

#app {
  text-align: center;
  width: 100%;
}

select {
  pointer-events: initial;
  background-color: var(--semi-transparent-white);
  outline: none;
  border: none;
  width: fit-content;

  border-radius: 0.5em;
  padding: 0.5em;
  padding-left: 1em;
  border-right: 0.5em solid transparent;

  transition-property: border-color, background-color;
  transition-duration: 0.25s;
}

select:not(:disabled):hover {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 2em;
  }
}

.leaflet-container {
  font-family: unset;
  font-size: unset;
  line-height: unset;
  background: unset;
  outline-offset: unset;
}

.leaflet-container a {
  color: unset;
  -webkit-tap-highlight-color: unset;
}
