:root {
  font-family: osrs;
  font-weight: normal;
  line-height: 1.25;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  --semi-transparent-black: rgba(0, 0, 0, 0.9);
  user-select: none;
}

* {
  color: yellow;
}

input {
  color: black;
}

audio {
  background-color: var(--semi-transparent-black);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  text-align: center;
  width: 100%;
}

button {
  background-color: var(--semi-transparent-black);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;

  transition: border-color 0.25s;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-top: none;
  border-right: none;
}
button:hover {
  border-color: yellow;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
